:root {
  --base-black: #373737;
  --base-white: #EFEFEF;
  --base-gray: #c4c4c4;
  --base-yellow: #FFDE15;
  --base-red: #D45555;
  --base-blue: #669B9E;
}

.site-title {
  font-family: 'Roboto', sans-serif;
}